In [1]:
import pandas as pd

In [2]:
# To load the dataframe from the `fortune500.csv` file, you can use the following code:
df = pd.read_csv('fortune500.csv')
df.head(11)

    Year  Rank           Company  Income Revenue
0   1955     1    General Motors  9823.5     806
1   1955     2       Exxon Mobil  5661.4   584.8
2   1955     3        U.S. Steel  3250.4   195.4
3   1955     4  General Electric  2959.1   212.6
4   1955     5            Esmark  2510.8    19.1
5   1955     6          Chrysler  2071.6    18.5
6   1955     7            Armour  2056.1     1.6
7   1955     8          Gulf Oil  1705.3   182.8
8   1955     9             Mobil  1703.6   183.8
9   1955    10            DuPont  1687.7   344.4
10  1955    11             Amoco  1667.4   132.8

1. Tính doanh thu trung bình của từng công ty qua các năm

In [3]:
mean_revenue_yearly = df.groupby('Công ty')['Doanh thu'].mean()
mean_revenue_yearly

KeyError: 'Công ty'

2. Tính lợi nhuận trung bình của từng công ty qua các năm

In [58]:
mean_revenue_yearly = df.groupby('Công ty')['Lợi nhuận'].mean()
mean_revenue_yearly

TypeError: agg function failed [how->mean,dtype->object]

3. Xác định công ty có doanh thu trung bình cao nhất

In [48]:
highest_mean_revenue_yearly = df.sort_values(by=['Doanh thu'], ascending=False)
highest_mean_revenue_yearly.head(1)

        Năm  Xếp hạng          Công ty  Doanh thu Lợi nhuận  mean_income
25000  2005         1  Wal-Mart Stores   288189.0     10267  4273.329635

4. Xác định công ty có lợi nhuận trung bình thấp nhất

In [ ]:
mean_revenue = 
lowest_mean_revenue_yearly = df.sort_values(by=['Doanh thu'], ascending=True)
lowest_mean_revenue_yearly.head(1)

      Năm  Xếp hạng          Công ty  Doanh thu Lợi nhuận  mean_income
498  1955       499  Goodall-Sanford       49.7      -2.7  4273.329635

5. Tìm công ty có doanh thu lớn nhất mỗi năm

In [50]:
most_revenue_year = df.loc[df.groupby('Năm')['Doanh thu'].idxmax()]
most_revenue_year.head()

       Năm  Xếp hạng         Công ty  Doanh thu Lợi nhuận  mean_income
0     1955         1  General Motors     9823.5       806  4273.329635
500   1956         1  General Motors    12443.3    1189.5  4273.329635
1000  1957         1  General Motors    10796.4     847.4  4273.329635
1500  1958         1  General Motors    10989.8     843.6  4273.329635
2000  1959         1  General Motors     9522.0     633.6  4273.329635

6. Tìm những công ty thường nằm trong top 5 công ty có doanh thu lớn nhất qua mỗi năm

In [51]:
top5_most_revenue = most_revenue_year.nlargest(5, 'Doanh thu')
top5_most_revenue.head(30)

        Năm  Xếp hạng          Công ty  Doanh thu Lợi nhuận  mean_income
25000  2005         1  Wal-Mart Stores   288189.0     10267  4273.329635
24500  2004         1  Wal-Mart Stores   258681.0      9054  4273.329635
24000  2003         1  Wal-Mart Stores   246525.0      8039  4273.329635
23500  2002         1  Wal-Mart Stores   219812.0      6671  4273.329635
23000  2001         1      Exxon Mobil   210392.0     17720  4273.329635

7. Lọc ra 5 công ty có doanh thu trung bình thấp nhất

In [52]:
most_revenue_year = df.loc[df.groupby('Năm')['Doanh thu'].idxmin()]
most_revenue_year.head()

,Năm,Xếp hạng,Công ty,Doanh thu,Lợi nhuận,mean_income
498,1955,499,Goodall-Sanford,49.7,-2.7,4273.329635
999,1956,500,Warren (S.D.),55.1,2.9,4273.329635
1499,1957,500,Consolidated Coppermines,61.1,5.7,4273.329635
1999,1958,500,Akzona,64.7,1.3,4273.329635
2499,1959,500,Blue Bell,61.7,1.7,4273.329635

8. Lọc ra 5 công ty có lợi nhuận trung bình cao nhất

In [54]:
top5_most_revenue.nlargest(5, '')

25000    Wal-Mart Stores
24500    Wal-Mart Stores
24000    Wal-Mart Stores
23500    Wal-Mart Stores
23000        Exxon Mobil
Name: Công ty, dtype: object

9. Vẽ biểu đồ so sánh doanh thu trung bình của 5 công ty có doanh thu trung bình thấp nhất