In [15]:
import pandas as pd

In [16]:
# To load the dataframe from the `fortune500.csv` file, you can use the following code:
df = pd.read_csv('fortune500.csv')
df.head(11)

     Năm  Xếp hạng           Công ty  Doanh thu Lợi nhuận
0   1955         1    General Motors     9823.5       806
1   1955         2       Exxon Mobil     5661.4     584.8
2   1955         3        U.S. Steel     3250.4     195.4
3   1955         4  General Electric     2959.1     212.6
4   1955         5            Esmark     2510.8      19.1
5   1955         6          Chrysler     2071.6      18.5
6   1955         7            Armour     2056.1       1.6
7   1955         8          Gulf Oil     1705.3     182.8
8   1955         9             Mobil     1703.6     183.8
9   1955        10            DuPont     1687.7     344.4
10  1955        11             Amoco     1667.4     132.8

1. Tính doanh thu trung bình của từng công ty qua các năm

In [34]:
mean_income = df['Doanh thu'].mean
mean_income

<bound method Series.mean of 0        9823.5
1        5661.4
2        3250.4
3        2959.1
4        2510.8
          ...
25495    3648.6
25496    3631.6
25497    3630.4
25498    3616.6
25499    3614.0
Name: Doanh thu, Length: 25500, dtype: float64>

2. Tính lợi nhuận trung bình của từng công ty qua các năm

In [37]:
df['mean_income'] = df['Doanh thu'].mean()
# mean_revenue_yearly = df.sort_values(by=mean_income, ascending=False)
# mean_revenue_yearly
df

        Năm  Xếp hạng                Công ty  Doanh thu Lợi nhuận  mean_income
0      1955         1         General Motors     9823.5       806  4273.329635
1      1955         2            Exxon Mobil     5661.4     584.8  4273.329635
2      1955         3             U.S. Steel     3250.4     195.4  4273.329635
3      1955         4       General Electric     2959.1     212.6  4273.329635
4      1955         5                 Esmark     2510.8      19.1  4273.329635
...     ...       ...                    ...        ...       ...          ...
25495  2005       496        Wm. Wrigley Jr.     3648.6       493  4273.329635
25496  2005       497         Peabody Energy     3631.6     175.4  4273.329635
25497  2005       498  Wendy's International     3630.4      57.8  4273.329635
25498  2005       499     Kindred Healthcare     3616.6      70.6  4273.329635
25499  2005       500   Cincinnati Financial     3614.0       584  4273.329635

[25500 rows x 6 columns]

3. Xác định công ty có doanh thu trung bình cao nhất

In [22]:
mean_revenue_yearly = df.sort_values(by=['Doanh thu'], ascending=False)
mean_revenue_yearly.head(1)

        Năm  Xếp hạng          Công ty  Doanh thu Lợi nhuận
25000  2005         1  Wal-Mart Stores   288189.0     10267

4. Xác định công ty có lợi nhuận trung bình thấp nhất

5. Tìm công ty có doanh thu lớn nhất mỗi năm

6. Tìm những công ty thường nằm trong top 5 công ty có doanh thu lớn nhất qua mỗi năm

7. Lọc ra 5 công ty có doanh thu trung bình thấp nhất

8. Lọc ra 5 công ty có lợi nhuận trung bình cao nhất

9. Vẽ biểu đồ so sánh doanh thu trung bình của 5 công ty có doanh thu trung bình thấp nhất