# Đề Bài
1. Thực hiện tìm hiểu bài toán (gợi ý: các bộ dữ liệu đc mô tả trên các trang web), từ đó mô tả bài toán
2. Sử dụng ngôn ngữ Python và các thư viện để thực hiện:

a. Tiền xử lý dữ liệu với bộ dữ liệu nhận được 
b. Trực quan hóa và phân tích dữ liệu

**Yêu cầu kết quả đạt được:**
1. Báo cáo (file.docx) mô tả bài toán, các nội dung thực thi của bài
2. Code thực hiện đối với phần 2a, 2b.

**Mục Tiêu:** Cho tập dữ liệu về đánh giá ramen, hãy dự đoán loại ramen nào sẽ nằm trong Top 10.

**Phương Pháp:** Chúng ta sẽ dùng Tensor Flow ANN (Artificial Neural Network) đa luồng để làm dự đoán.

In [1]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import plotly.express as px

import re # regular expression
from nltk.stem import PorterStemmer
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import class_weight

import tensorflow as tf

In [4]:
data = pd.read_csv('dataset/1.ramen-ratings.csv')

In [5]:
data

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB